@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
html{
    font-family: 'Poppins', sans-serif;
}
a {
    color: #FFF;
    font-weight: 600;
}
a:hover {
    color: #fff;

}
span.contact-nav-text:hover {
    color: #eec00d;

}
.btn-color-products{
    background-color: #c73337;
}
span.about-nav-text:hover {
    color: #c73337;

}
span.services-nav-text:hover {
    color: #3397cb;

}
.contact-icon-first{
    margin-top: 10% !important;
    margin-left: 4%;
    height: 50px !important;
}
.loc-icons{
    color:#fff;
    cursor: pointer;
}
.social-icons-contact{
    height: 20px;
    width: 20px;
    cursor: pointer;
}
.number{
    font-weight: 600;
    cursor: pointer;
}
.text-fields-contact{
    height: 35px !important;
    margin-left: 10%;
    margin-top: 5%;
    position: absolute;
}
.number-2{
    margin-top: -4px;
    font-weight: 600;
    cursor: pointer;
}
.demo-modal-right{
    margin-top: 35%;
}
.contact-field {
    background: #fff;
    width: 85%;
    border: none;
    padding-bottom: 5px;
    border-bottom: 1.2px solid #999999;
    margin-bottom: 20%;
}
.contact-field-message {
    background: #fff;
    width: 85%;
    border: none;
    height: 55px;
    padding-bottom: 5px;
    border-bottom: 1.2px solid #999999;
    margin-bottom: 7%;
}
.contact-div-second{
    padding-left: 10% !important;
    width: 100%;
}
.navbar-contact-textfield-div{
    height: 35%;
}
.navbar-contact-textfield-div2{
    margin-top: -285px !important;
}
.contact-icon-second{
    margin-left: 4%;
    height: 50px !important;
}
.contact-textField-height{
    margin-top: -400px;
}
.contact-textField-height-third{
    margin-top: 10%
}
.submitBtn{
    width: 165px;
    height: 40px;
    color: white;
    font-size: 16px;
    font-family: "Poppins";
    background: #d0a02b;
    margin-top: 7%;
    margin-right: 10%;
}
.contact-sbmit-btn{
    margin-top: -490px !important;
    position: absolute;
    margin-left: 380px !important;
  }
.contact-icon-third{
    margin-top: 38%;
    margin-left: 4%;
    height: 50px !important;
}
.chbk-icons{
    color: #d0a02b;
}
.closeIconX{
    float: right;
    cursor: pointer;
    color: #d0a02b;
    margin-right: 5%;
    margin-top: 3%;
}
.contact-div1-title{
    color:#fff;
    font-weight: 600;
    font-size: 30px;
    padding-top: 8%;
    font-family: "Poppins", sans-serif;
}
.amiware-div1-title{
    color:#fff;
    font-weight: 600;
    font-size: 35px;
    padding-top: 8%;
    font-family: "Poppins", sans-serif;
}
.amiware-links-title{
    color:#fff;
    font-size: 25px;
    font-weight: 600;
    padding-top: 5px;
    padding-right: 10%;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.contact-div1-subtitle{
    color:#fff;
    font-size: 15px;
    padding-top: 3px;
    padding-right: 10%;
    font-family: "Poppins", sans-serif;
}
.layer1-img{
    width: 100%;
    height:250px;
    object-fit: fit;
    border-radius: 15px !important;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgb(74 63 63 / 25%);
}
.amiware_logo-image{
    height: 60px;
    width: 150px;
    margin-bottom: 5%;
    object-fit: fit;
}
.layer2-img{
    width: 100%;
    height:460px;
    padding-left: 10px;
    padding-right: 10px;
    object-fit: contain;
    border-radius: 15px !important;
    margin-bottom: 20px;
    box-sizing: border-box;
    box-shadow: 0px 5px 5px rgb(74 63 63 / 25%);
}
span.amiware-hightlight{
    color:#d0a02b;
    font-weight: 600;
}
.layer3-img{
    width: 100%;
    margin-top: 5px;
    padding-left: 7px;
    padding-right: 7px;
    object-fit: contain;
    border-radius: 15px !important;
    margin-bottom: 20px;
}
p.layer1-txt{
    font-size: 15.5px;
    font-weight: 500;
    margin-top: 7px;
}
.amiware-div1-subtitle{
    color:#fff;
    font-size: 15px;
    padding-top: 0px;
    padding-right: 10%;
    font-family: "Poppins", sans-serif;
    margin-bottom: 10%;
}
.intro-amiware-view{
    padding-top: 6% !important;
    margin-left: -15px !important;
    margin-right: 55px !important;
}
.intro-amiware-view2{
    padding-top: 7% !important;
    margin-left: -15px !important;
    margin-right: 55px !important;
}
.amiware-links-title-ami-flipped{
    text-decoration: underline;
    text-underline-offset: 5.5px;
    color:#fff;
    font-size: 25px;
    font-weight: 600;
    padding-top: 5px;
    padding-right: 10%;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
}
.border-radius-1 div {
    border-radius: 10px !important;
    height: 90vh;
    padding: 0px;
}
.contact-div-first{
    background: #d0a02b;
    border-radius: 10px;
    height: 89.7vh !important;
    padding-left: 10% !important;
}
border-radius-5 div {
    border-radius: 0px !important;
    align-items: center;
}
p.loginModalTxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    align-items: center;
    letter-spacing: 0.01em;
    color: #ba7105;
    margin-bottom: 5%;
    margin-top: 5%;
}
p.navbar_txt{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
    font-weight: 600;
    margin-top: 2%;
}
.closeIcon{
    float: right;
    cursor: pointer;
}
p.loginErrorTxt {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    display: flex;
    letter-spacing: 0.01em;
    color: red;
  }
.logo{
    height:30px;
    width: 60px;
    border-radius: 7px;
}
.side-bar{
    display: none;
    color: #FFF;
}

@media screen and (max-width: 768px) {
    .side-bar{
        display: block;
        position: absolute;
        top: 0;
        left: 0;

        font-size: 1.8rem;
        cursor: pointer;
        justify-content: flex-start;
    }	
    .sidebar-icon{
        height: 22px;
        width: 30px;
    }
    .mobile-side-img-div{
        padding-left: 60%;
        padding-top: 10px;
        width: 65%;
    }
    .mobile-side-img-div2{
        width: 35%;
        padding-left: 50%;
        padding-top: 10%;
    }
}
.divider-Margin{
    margin-top: 3%;
}
.dropdown {
    display: inline-block;
    position: relative;
    margin-right: 13%;
    margin-left: 9%;
  }
  
  .dd-button {
    display: inline-block;
    padding: 10px 30px 10px 20px;
    background-color: rgb(19, 19, 17);
    cursor: pointer;
    width: 65px;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap;
  }
  
  .dd-input {
    display: none;
  }
  
  .dd-menu {
    position: absolute;
    top: 100%;
    padding: 0;
    border-top: 1px solid #fff;
    margin: 0px 0 0 0;
    width: 115px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.1);
    background-color: rgb(19, 19, 17);
    list-style-type: none;
    color: #fff;
  }
  .dd-input + .dd-menu {
    display: none;
  } 
  .dd-input:checked + .dd-menu {
    display: block;
  } 
  .dd-menu li {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
  }
  
  .dd-menu li a {
    display: block;
    margin: -10px -20px;
    padding: 10px 20px;
  }
  
  .dd-menu li.divider{
    padding: 0;
    border-bottom: 1px solid #cccccc;
  }
