@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@media only screen and (max-width: 780px) {
  .form-e {
    margin-top: 0px !important;
    border-radius: 4px !important;
  }
}
@media only screen and (min-width: 900px) {
  .form-e {
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}
.Modal {
  overflow: hidden;
}
.modalHeader {
  background-color: #363636;
  height: 85px;
}
.dropdown-item-button {
  width: 100%;
  background-color: #193f6a;
}
a {
  color: #fff !important;
  font-weight: 600;
}
a:hover {
  color: #fff !important;
}
@media only screen and (max-width: 629px) {
  .form-e {
    margin-top: 0%;
  }
}
.form-e {
  margin-top: -17%;
}
.form-e {
  background: white;
  mix-blend-mode: normal;
  border: 2px solid #decfcf;
  box-sizing: border-box;
  box-shadow: 0px 18px 26px rgb(74 63 63 / 25%);
  border-radius: 57px;
  /* margin-top: 29
px
; */
  padding-top: 50px;
  padding-left: 20px;
  padding-right: 20px;
}
.image-item {
  padding: 0px 0px 0px 10px;
}
.carousel-div{
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3%;
}
p.send-mssge {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  /* line-height: 45px; */
  /* display: flex; */
  /* align-items: center; */
  letter-spacing: 0.01em;
  color: #ba7105;
  text-align: center;
}
.content-box-sentinel{
  height: 110vh;
  margin-top: 3%;
  margin-left: 4%;
  margin-right: 4%;
}
@media only screen and (min-width: 768px) {
  .form-container {
    padding-left: 20px;
    padding-right: 20px;
  }
  img.entr-gr-two {
    margin-top: 20px;
    height: 350px;
  }
  #mobileService {
    display: none;
  }
  #mobileService-img {
    display: none;
  }
  #mobileYT {
    display: none;
  }
  #deskstopYT {
    display: block;
  }
  .bookModal {
    margin-left: 6%;
    margin-bottom: 5%;
  }
  .ExtraHeightOnDesktop {
    margin-top: 25%;
  }
  .roundImageTop {
    height: 135px;
  }
  .verticalLine {
    border-left: 2px solid #d9a054;
    padding-left: 10%;
    padding-bottom: 30%;
  }
}
.txt-in {
  margin-left: 4%;
}
@media screen and (min-width: 767px) {
  .about-desktop-info{
    margin-left:-95px;
    width: 118%;
  }
}
@media screen and (max-width: 767px) {
  .txt-in {
    display: none;
  }
  #myElement3 {
    display: none;
  }
  #mobileService {
    display: block;
    margin-top: 7%;
  }
  #mobileService-img {
    display: block;
  }
  #mobileYT {
    display: block;
  }
  #deskstopYT {
    display: none;
  }
}
p.ct-frm-lbl {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 36px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #3f3a3a;
  margin-bottom: -3px;
}
.book-input {
  border-radius: 5px;
}
#marginInputs {
  margin-top: 15px;
}
.selectCity {
  margin-top: 15px;
}
.selectTime {
  margin-top: 17px !important;
}
p.loginErrorTxt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  display: flex;
  letter-spacing: 0.01em;
  color: #d9a054;
}
span.validateErrorTxt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  display: flex;
  letter-spacing: 0.01em;
  color: red;
}
.textarea_message {
  background: #f2ecec;
  border-radius: 25px;
  padding-left: 19px !important;
  border: none;
  width: 86%;
  padding-top: 5px;
  min-height: 70px;
  margin-top: 10px;
  padding-right: 20px !important;
  font-size: 16px;
}
input:focus,
textarea:focus {
  border: 0px solid #bfbfbf;
  outline-offset: 0px;
  outline: none;
}
button {
  background-color: #e8c99e;
  border: none;
  color: white;
  padding: 7px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 7%;
  cursor: pointer;
  border-radius: 60px;
}
.desktopView {
  background-repeat: no-repeat;
  background-size: 99% 99%;
  padding-left: 32px;
  margin-left: -20px;
  margin-top: 1%;
  background-image: url("../../assets/images/Polygon7.png");
}
.mnu-ctsrvv {
  background-attachment: revert;
  background-position: initial;
  /* background: #d4943f; */
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  min-height: 271px;
  padding-left: 23px;
  padding-right: 26px;
  margin-top: 7%;
  margin-left: 7%;
  padding-top: 7%;
}

.mnu-ctsrvv.one {
  background-image: url(../../assets/images/ctvsr1.png);
  position: relative;
}

.mnu-ctsrvv.two {
  background-image: url(../../assets/images/Rectangle10.png);
  position: relative;
}

.mnu-ctsrvv.three {
  background-image: url(../../assets/images/Rectangle12.png);
  position: relative;
}

.mnu-ctsrvv.four {
  background-image: url(../../assets/images/Rectangle7.png);
  position: relative;
}
.mnu-ctsrvvv {
  position: absolute;
  top: 0;
  left: 0;
  width: 97%;
  height: 95%;
  border-radius: 25px;
  background-color: rgb(83 77 77 / 76%);
  padding-left: 13px;
  text-align: center;
}
p.title-ct-srvv {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  padding-top: 4%;
  font-weight: 600;
  font-size: 20px;
  line-height: 36px;
  /* display: flex; */
  align-items: center;
  letter-spacing: 0.01em;
  color: #fffbfb;
}
p.bk-nwbtn {
  margin-top: -7px;
  cursor: pointer;
  background: #ba7105;
  width: 110px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 60px;
  font-size: 13px;
  color: white;
  padding-left: 9px;
  padding-right: 9px;
  height: 21px;
  padding-top: 1px;
  font-weight: bold;
}
p.txt-ct-srvv {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 21px;
  display: flex;
  align-items: center;
  letter-spacing: 0.01em;
  color: #f1f1f1;
  margin-top: 26px;
  padding-left: 2%;
  padding-right: 2%;
}
.about_us {
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
}
.txt-about_us {
  color: #bb7005;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: -7px;
}
.info {
  margin-left: 7%;
  margin-right: 7%;
}
.info_txt {
  color: #777676;
  font-size: 18px;
}
.readmore {
  color: #737373;
}
.yt_video {
  margin-top: 3%;
}
.intro {
  margin-left: 10%;
  margin-right: 10%;
}
.intro-div {
  margin-top: 5%;
  flex-direction: row;
  display: flex;
}
.intro-block {
  width: 50%;
  background-color: #454246;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
}
.intro-block2 {
  width: 50%;
  background-color: #454246;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 30px;
  margin-left: 5%;
}
.intro-title {
  color: #fff;
  font-size: 20px;
}
.intro-txt {
  color: #fff;
  font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.services {
  flex-direction: column;
  margin-left: 4%;
  margin-top: 5%;
}
.services-title {
  color: #bb7005;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: -7px;
}
.services-txt {
  font-size: 12px;
  margin-left: -7px;
}
.paymentIcon {
  height: 35px;
  width: 35px;
}
.contact-us {
  margin-top: 7%;
  margin-left: 4.5%;
  margin-right: 4.5%;
  margin-bottom: 7%;
}
.contact-us-title {
  flex-direction: column;
}
p.choosePayment {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.01em;
  color: #ba7105;
  text-align: left;
}
.paymentView {
  border: 1.5px solid #bfbfbf;
  border-radius: 5px;
  height: 50px;
  width: 100%;
  padding-left: 3%;
  padding-top: 1.6%;
  padding-right: 3%;
  cursor: pointer;
}
.payment-view-gap {
  margin-top: 5%;
  margin-bottom: 5%;
}
.payment-txt {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 0.01em;
  color: #ba7105;
  text-align: left;
  padding-top: 3.5%;
}
.nextIcon {
  float: right;
  margin-top: 6%;
  cursor: pointer;
  color: #d3ad40;
}
.contact-us-txt {
  color: #bb7005;
  font-size: 34px;
  font-weight: 500;
  margin-bottom: -7px;
}
.contact-details {
  flex-direction: row;
  display: flex;
}
.contact-details-div {
  width: 54%;
  background-color: #454246;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-top: 7%;
  height: 30%;
  margin-right: 1%;
}
.contact-details-txt {
  color: #fff;
  font-size: 17px;
}
.contact-form {
  margin: 10%;
}
.packageDiv {
  border: 2px solid #d9a054;
}
.innerPackageDivOn {
  border: 2px solid #d9a054;
  border-radius: 17px;
  height: 17px;
  width: 17px;
  margin-left: 30%;
}
.txt-package {
  text-align: center;
}
#modalText {
  font-family: "Poppins", sans-serif;
  color: #d4943f;
  font-weight: bold;
  padding-left: 0.5%;
  margin-right: 1.5%;
}
/* HERE */
.sc-hm-one-sentinel {
  background-repeat: no-repeat, repeat;
  background-position: right top;
  background-image: url(https://cloudfront-eu-central-1.images.arcpublishing.com/businessoffashion/MIOUVEZ4GVDU3FDZSXGZCMH63I.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact-section-home{
  margin-top: 10%;
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 5%;
}
.vision-txt-margin{
  margin-bottom: 5%;
}
.sc-hm-one-products-senti {
  height: 100vh !important;
  background-color: #fff;
  padding-top: 6%;
  margin-left: 5%;
  margin-right: 15%;
}
.sc-hm-one-products-senti2 {
  height: 130vh !important;
  background-color: #fff;
  margin-left: 7%;
  margin-right: 7%;
  padding-top: 3%;
}
.others{
  background-color: #f9f9f9
}

.warehouse-img-2{
  height: 90vh;
  object-fit:fill;
  margin-top: 3%;
}
p.useCase-title{
  margin-top: -10px;
}
.closeIcon{
  float: left;
  color: #d0a02b;
}
.senti-hover-card{
  margin-left: 22%;
  margin-top: 5%;
}
.senti-hover-card2{
  margin-left: 17%;
  margin-top: 5%;
}
.pricing-span{
  float: left;
  margin-left: 5px;
  margin-top: 3px;
}
.clients-img{
  position:absolute;
  right: 5% !important;
  margin-top: 25%;
  height: 180px;
  width: 140px;
  cursor: pointer;
}
p.timeline-year{
  color: #222;
  font-weight: bold;
  font-size: 17px;
}
.timeline-tag{
  color: #222;
  font-size: 12.5px;
}
.timeline-icon{
  color: #fff
}
.img-down{
  margin-top: 17%;
}
.useCases-div{
  height: 95vh;
}
.office-imgs{
  height: 400px;
  object-fit: cover;
  width: 100%;
  border-radius: 5px;
}
.team-univ-imgs{
  height: 45px !important;
  width: 180px !important;
  object-fit: cover;
  margin-top: -5px;
}
.team-univ-imgs-universita{
  height: 46px !important;
  width: 136px !important;
  object-fit: cover;
  margin-top: -5px;
}
.team-univ-imgs-madras{
  height: 45px !important;
  width: 130px !important;
  object-fit: cover;
  margin-top: -5px;
}
.prodct-pointer{
  cursor: pointer;
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-size: 32px !important;
  margin-top: 30px !important;
  line-height: 50px;
  text-align: right;
}
.product-imgs-div{
  padding-top: 10%;
  margin-left: -30px;
}
.product-imgs-div-neometry{
  padding-top: 10%;
  margin-left: -50px;
}
.product-txt-info{
  font-family: "Poppins", sans-serif;
  color: white !important;
  font-size: 12px !important;
  font-weight: 600;
  text-align: center;
  margin-top: 5px;
}
.prodct-pointer-underlined{
  cursor: pointer;
  color: white !important;
  font-family: "Poppins", sans-serif;
  font-size: 32px !important;
  margin-top: 30px !important;
  line-height: 50px;
  text-align: right;
  text-underline-offset: 5px;
  text-decoration-line: underline;
}
.text-pop-products {
  float: right;
  text-align: right;
  padding-top: 20%;
}

.home-why-us-title {
  font-family: "Poppins", sans-serif;
  color: #d4943f;
}
p.txt_.Title {
  color: white !important;
  font-family: "Poppins", sans-serif !important;
  font-size: 44px !important;
  margin-top: 46px !important;
  line-height: 59px;
  font-weight: bold;
}
p.txt_products-senti {
  color: #3b3b3b !important;
  font-family: "Poppins", sans-serif;
  font-size: 44px !important;
  margin-top: 20%!important;
  line-height: 60px;
  text-align: right;
}
p.txt_products-senti-2 {
  font-family: "Poppins", sans-serif;
  font-size: 44px !important;
  text-align: center;
  color: #fff !important;
  padding-bottom: 2.5%;
}
p.txt-title-modal {
  color: #193f6a;
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}
p.txt-title-modal-amt {
  color: #193f6a;
  font-size: 32px;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  margin-top: -25px;
}
p.txt-title-modal-amt-months {
  color: #193f6a;
  font-size: 23px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-top: -31px;
}
.home-why-us-title {
  font-family: "Poppins", sans-serif;
  color: white;
  margin-bottom: 10px;
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}
p.txt_.Title.Second {
  font-size: 28px !important;
  margin-top: 49px;
  font-family: "Poppins", sans-serif !important;
  line-height: 35px;
  margin-bottom: 48px;
}
p.title-content-h {
  font-family: "POPPINS-b";
  font-size: 33px;
  color: #d4943f;
  font-weight: bold;
  margin-top: 4px;
}
p.title-home-about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  letter-spacing: 0.01em;
  color: #ba7105;
  font-size: 34px;
  font-weight: 600;
  margin-left: 12px;
}
p.txt_.one {
  color: #193f6a !important;
  font-family: "Poppins", sans-serif;
  font-size: 39px !important;
  font-weight: 600;
  /* font-weight: bold !important; */
  margin-top: 31px;
  margin-left: 8px;
}
p.txt_.two {
  color: #193f6a !important;
  font-family: "Poppins", sans-serif;
  font-size: 19px !important;
  font-weight: 600 !important;
  margin-top: -20px !important;
  margin-left: 13px;
}
p.txt_.three {
  color: #193f6a !important;
  font-family: "Poppins";
  font-size: 16px !important;
  font-weight: 400 !important;
  margin-bottom: 12px !important;
  margin-top: -11px !important;
  margin-left: 14px;
}
p.txt_.one {
  margin-top: 56px !important;
}
p.txt_.subTitle.Second.p {
  margin-top: 34px !important;
}

p.txt_.Title.Second {
  font-size: 28px !important;
  margin-top: 49px;
  font-family: "Poppins-b" !important;
  line-height: 35px;
  margin-bottom: 48px;
}
.nextIconX{
  color: #fff;
  float: left;
  margin-top: 2px;
}
button.requestQuote-senti {
  width: 185px;
  height: 40px;
  border-radius: 0px;
  color: white;
  font-size: 16px;
  font-family: "Poppins";
  margin-top: 10px;
  background: #d0a02b;
  margin-left: 57%;
}
button.visit-site-about {
  width: 160px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  font-family: "Poppins";
  background: radial-gradient(
    214.91% 214.91% at 56.12% 50.88%,
    #d3ad40 0%,
    rgba(211, 173, 64, 0) 100%
  );
  filter: drop-shadow(5px 10px 7px rgba(255, 243, 243, 0.25));
  border-radius: 45px;
  margin-bottom: 17px;
  margin-top: 6px;
}
p.quote-txt{
  font-size: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}
.aln-hm-cn {
  float: right;
  margin-top: 22px;
}
.aln-itms-cntr.thrr {
  text-align: center;
  margin-top: -25px;
  margin-left: 92px;
}
.quote-right-img{
  height: 70px;
  width: 70px;
  float: right;
  margin-top: -35px;

}

.container-cmmon {
  padding-left: 12px;
  padding-right: 12px;
  margin-top: 42px;
}
@media only screen and (max-width: 999px) and (min-width: 698px) {
  .container-cmmon {
    padding-left: 45px;
    padding-right: 45px;
  }

}
@media only screen and (min-width: 1000px) {
  .container-cmmon {
    padding-left: 55px;
    padding-right: 55px;
  }
  
}

@media only screen and (min-width: 1700px) {
  .container-cmmon {
    padding-left: 70px;
    padding-right: 70px;
  }
}
img.home-btn-img {
  margin-top: -20px;
  display: block;
  height: 12px;
  margin-left: 15px;
  margin-bottom: 10px;
}
.cont-text.ft-ct {
  margin-top: 56px;
}
@media only screen and (max-width: 612px) {
  p.txt_.one {
    margin-top: 56px !important;
  }

  .cont-text.ft-ct {
    margin-top: 20px;
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px !important;
    padding-right: 10px !important;
  }
}
.cont-text.ft-ct {
  background: #5a564f;
  display: grid;
  padding-top: 28px;
  padding-bottom: 20px;
  padding-left: 20px;
}
@media only screen and (min-width: 900px) {
  img.entr-gr-one {
    margin-right: 20px;
    margin-bottom: -74px;
  }

  .container-ct-frm-drk {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 46px !important;
  }
}
.container-ct-frm-drk {
  padding-left: 30px !important;
  padding-right: 30px !important;
  padding-top: 46px !important;
}
@media only screen and (min-width: 1300px) {
  .container-ct-frm-drk {
    padding-left: 30px !important;
    padding-right: 30px !important;
    padding-top: 46px !important;
  }

  .hp_contain.Two {
    margin-left: -99px !important;
    margin-top: 24px;
    padding-bottom: 1px;
  }

  .hp_contain.Four {
    margin-left: -99px !important;
    margin-top: 20px;
    padding-bottom: 1px;
  }
}
.home-txt-content.drk {
  font-family: "Poppins", sans-serif;
  color: #777676;
  font-size: 17px;
}
.rdMore {
  padding-bottom: 4px;
  cursor: pointer;
  color: #737373;
  font-weight: 500;
  font-size: 16.6px;
  font-family: "Poppins", sans-serif;
}
.pop-box {
  background-repeat: no-repeat, repeat;
  background-position: right top;
}
@media only screen and (max-width: 850px) {
  .pop-box.top-contain {
    margin-top: 6%;
    width: 60%;
  }

  .contact-contacts {
    padding-top: 0px !important;
  }
}
@media only screen and (min-width: 1000px) {
  .contact-contacts {
    padding-left: 55px;
    padding-right: 55px;
  }
}
.contact-contacts {
  padding-top: 30px;
}
@media only screen and (max-width: 1091) {
  .pop-box.top-contain {
    margin-top: 22%;
    margin-left: 0px !important;
  }
}
@media only screen and (min-width: 900px) {
  .pop-box.top-contain {
    margin-top: 100px !important;
  }
}
.pop-box.top-contain {
  height: 100%;
  /* margin-top: auto; */
  margin-bottom: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1356px) {
  .pop-box.top-contain {
    margin-left: 121px;
  }
}
.pop-box.top-contain {
  margin-top: 57px !important;
  text-align: center;
}
.hp_contain {
  background: #444346;
  border-radius: 34px;
  padding-top: 8px;
  padding-left: 12px;
  padding-right: 5px;
  padding-top: 17px;
  padding-bottom: 24px;
}
.hp_contain.Two {
  margin-left: -50px;
  margin-top: 24px;
  padding-bottom: 1px;
  margin-top: 22px;
}
.hp_contain.Four {
  margin-left: -50px;
  margin-top: 20px;
  padding-bottom: 1px;
}

@media only screen and (min-width: 700px) {
  img.entr-gr-one {
    margin-top: 83px;
  }
}
img.entr-gr-one {
  margin-right: 20px;
  height: 250px;
}
img.entr-gr-three {
  height: 158px;
  margin-left: 60%;
}
p.home-txt-content.tx {
  color: #fff8f8 !important;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
}
p.home-txt-content {
  font-family: "Poppins";
  text-align: left;
  margin-top: -7px;
  color: white;
}
.slide_Imgs {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.hr-in-vrtl {
  margin-top: 30%;
  margin-right: 10%;
  padding-left: 3%;
}

.colOrderView.col {
  margin: 10px;
}
img.roundImageTop {
  margin: 10px;
}
.check-icon{
  height: 85px;
  width: 85px;
  margin-top: 5%;
}
p.orderComplete-txt{
  color: #5a564f !important;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  font-weight: 600;
  text-align:center;
}
p.orderDetails-header{
  color: #5a564f !important;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 30px;
  font-weight: 600;
}

h1, h2, h3, h5 {
  margin: 0;
}

.header {
  text-align: center;
  margin-bottom: 60px;
}

.header h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
  margin-bottom: 0.2em;
  line-height: 1.2;
  color: #222
}

.header h3 {
  font-weight: 400;
  color: #555;
  width: 30em;
}

.cards-about-team {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
p.team-text-title{
  color: #222 !important;
  text-align: center !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  margin-top: 4%;
}
.team-text-subtitle{
  color: #222 !important;
  text-align: center !important;
  font-size: 16.5px !important;
  margin-top: -18px;
}
.card-about-team {
  background: #fff;
  height: 24.3em;
  margin: 10px !important;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 13px 27px -5px hsla(240, 30.1%, 28%, 0.25), 0 8px 16px -8px hsla(0, 0%, 0%, 0.3), 0 -6px 16px -6px hsla(0, 0%, 0%, 0.03);
  transition: all ease 200ms;
}
.stock_img-sentinel{
  height: 500px;
  width: 90%;
  object-fit: cover;
  border-radius: 5px;
  margin-top: 12%;
}
.senti-dashboard{
  width: 70vw;
  object-fit: fit;
  border-radius: 15px !important;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgb(74 63 63 / 25%);
}
.senti-dashboard2{
  width: 54vw;
  object-fit: fit;
  border-radius: 15px !important;
  margin-bottom: 20px;
  box-sizing: border-box;
  box-shadow: 0px 5px 5px rgb(74 63 63 / 25%);
  background: #fff;
  padding: 18px;
}
.senti-dash{
  background: #d3ad40;
  height: 110vh;
  width: 100vw;
  padding-top: 4%;
}
.about-midSide-div2{
  color:#d0a02b;
  font-weight: 600;
  font-size: 13.8px;
  margin-top: 21%;
}
.about-midSide-div2-title{
  color:#3b3b3b;
  font-weight: 600;
  font-size: 28px;
  margin-top: 0px;
}
.more-team-txt{
  color: #fff;
  font-size: 18px;
  font-weight: 600;
}
.why-midSide-div2-title-about{
  color:#fff;
  margin-bottom: 4%;
  font-weight: 600;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  text-align: center;
}
.senti-midSide-div2-para{
  color:#878787;
  font-size: 16.1px;
  margin-top: 5px;
  text-align: right;
}
.play_img{
  position:absolute;
  margin-left: -132px;
  margin-top: 32%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.next-img{
  position:absolute;
  right: 47.5% !important;
  margin-top: 15%;
  height: 50px;
  width: 50px;
  cursor: pointer;
}
.badges-div{
  padding-left: 13%;
  padding-right: 10%;
  margin-top: 5%;
}
.badge-txt{
  color:#fff;
  font-size: 12.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 4.5%;
  text-align: center;
}
.badge-txt-yellow{
  color:#d0a02b;
  font-size: 12.5px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  margin-top: 4.5%;
  text-align: center;
}
.card-about-team:hover {
  transform: scale(1.07);
  box-shadow: 0 13px 40px -5px hsla(240, 30.1%, 28%, 0.12), 0 8px 32px -8px hsla(0, 0%, 0%, 0.14), 0 -6px 32px -6px hsla(0, 0%, 0%, 0.02);
}
.card-body-2:hover{
  background: #f9464a;
}
.card-body-3:hover{
  background: #f1cc3d;
}

.card-about-team img {
  width: 45px;
  height: 45px;
  object-fit: cover;
  margin-left: 1px;
}

.card-about-team h2 {
  color: #fff;
  margin-top: 0.5em;
  line-height: 1.4;
  font-size: 1.1em;
  margin-bottom: -1px;
  margin-left: 1px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  transition: all ease-in 100ms;
  text-align: left;
}

span.card-first-span{
  color: #3aa7e1;
  font-weight: 600;
}
span.card-second-span{
  color: #f9464a;
  font-weight: 600;
}
span.card-third-span{
  color: #f1cc3d;
  font-weight: 600;
}
.card-about-team p {
  color: #fff;
  text-align: left;
  font-size: 13.5px;
  margin-left: 1px;
}

.card h5 {
  color: #bbb;
  font-weight: 700;
  font-size: 0.7em;
  letter-spacing: 0.04em;
  margin: 1.4em 0 0 0;
  text-transform: uppercase;
}
.card-body-2 {
  padding: 1.2em;
  background: #3b3b3b;
}
.card-body-3 {
  padding: 1.2em;
  background: #3b3b3b;
}
p.services-top-title{
  color: #3b3b3b !important;
  font-family: "Poppins", sans-serif;
  font-size: 42px !important;
  text-align: left;
  margin-top: 3%;
  word-wrap: break-word;
}
.div2{
  padding-left: 9%;
  padding-right: 9%;
  padding-top: 2%;
}
body{
  scroll-behavior: smooth;
}


.container-senti .card-senti .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #2c73df;
}

p.senti-card-txt{
  color: #fff;
  font-size: 28px;
  margin-top: 5px;
  font-family: "Poppins", sans-serif;
}
.container-senti .card-senti .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
}

.container-senti .card-senti .slide {
  width: 270px;
  height: 200px;
  transition: 0.5s;
}

.container-senti .card-senti .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: .7s;
  transform: translateY(100px);
}

.container-senti .card-senti:hover .slide.slide1{
  transform: translateY(0px);
}

.container-senti .card-senti .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container-senti .card-senti:hover .slide.slide2{
  transform: translateY(0);
}

.container-senti .card-senti .slide.slide2::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #2c73df;
}

.container-senti .card-senti .slide.slide2 .content-senti p {
  text-align: center;
  color: #414141;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
}

.container-senti .card-senti .slide.slide2 .content-senti h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

.container-senti2 .card-senti2 .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #c73337;
}
.container-senti2 .card-senti2 .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
}

.container-senti2 .card-senti2 .slide {
  width: 270px;
  height: 200px;
  transition: 0.5s;
}

.container-senti2 .card-senti2 .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: .7s;
  transform: translateY(100px);
}

.container-senti2 .card-senti2:hover .slide.slide1{
  transform: translateY(0px);
}

.container-senti2 .card-senti2 .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container-senti2 .card-senti2:hover .slide.slide2{
  transform: translateY(0);
}

.container-senti2 .card-senti2 .slide.slide2::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #c73337;
}

.container-senti2 .card-senti2 .slide.slide2 .content-senti2 p {
  text-align: center;
  color: #414141;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
}

.container-senti2 .card-senti2 .slide.slide2 .content-senti2 h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 



.container-senti3 .card-senti3 .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #d0a02b;
}
.container-senti3 .card-senti3 .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
}

.container-senti3 .card-senti3 .slide {
  width: 270px;
  height: 200px;
  transition: 0.5s;
}

.container-senti3 .card-senti3 .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: .7s;
  transform: translateY(100px);
}

.container-senti3 .card-senti3:hover .slide.slide1{
  transform: translateY(0px);
}

.container-senti3 .card-senti3 .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container-senti3 .card-senti3:hover .slide.slide2{
  transform: translateY(0);
}

.container-senti3 .card-senti3 .slide.slide2::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #d0a02b;
}

.container-senti3 .card-senti3 .slide.slide2 .content-senti3 p {
  text-align: center;
  color: #414141;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
}

.container-senti3 .card-senti3 .slide.slide2 .content-senti3 h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 






.container-senti4 .card-senti4 .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #5baf5b;
}
.container-senti4 .card-senti4 .icon .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: #fff;
}

.container-senti4 .card-senti4 .slide {
  width: 270px;
  height: 200px;
  transition: 0.5s;
}

.container-senti4 .card-senti4 .slide.slide1 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transition: .7s;
  transform: translateY(100px);
}

.container-senti4 .card-senti4:hover .slide.slide1{
  transform: translateY(0px);
}

.container-senti4 .card-senti4 .slide.slide2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transition: .8s;
  transform: translateY(-100px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.4);
}

.container-senti4 .card-senti4:hover .slide.slide2{
  transform: translateY(0);
}

.container-senti4 .card-senti4 .slide.slide2::after{
  content: "";
  position: absolute;
  width: 30px;
  height: 4px;
  bottom: 15px;
  left: 50%;
  left: 50%;
  transform: translateX(-50%);
  background: #5baf5b;
}

.container-senti4 .card-senti4 .slide.slide2 .content-senti4 p {
  text-align: center;
  color: #414141;
  padding-bottom: 5px;
  font-size: 17px;
  font-weight: 500;
}

.container-senti4 .card-senti4 .slide.slide2 .content-senti4 h3 {
  margin: 0 0 10px 0;
  padding: 0;
  font-size: 24px;
  text-align: center;
  color: #414141;
} 

